/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/CTestTestfile.cmake
/Makefile
/TEST
/TEST2
/IAS
/.cproject
/.project
/.settings
/libmaths.a
/libimrt.a
/out.txt
plotter/organ0.txt
plotter/organ1.txt
plotter/organ2.txt
plotter/organ_xls0.dat
plotter/organ_xls1.dat
plotter/organ_xls2.dat
/data/Equidistantes
/fwk4exps/as
data/equidistant-instances.tar.gz
/AS
/LSA
fwk4exps/as2/
*.pdf
/.RData
/.Rhistory
/output.png
fwk4exps/dao/
fwk4exps/ibo/
