certifi==2025.4.26
charset-normalizer==3.4.2
configparser==7.2.0
filelock==3.18.0
idna==3.10
numpy==2.3.0
PySocks==1.7.1
requests==2.32.4
scipy==1.15.3
soupsieve==2.7
tqdm==4.67.1
typing_extensions==4.14.0
urllib3==2.4.0
